
<div>
        <form name="restore" ng-submit="submit()" novalidate>
        <p>User Name:<br>
            <input type="text" name="username" ng-model="username" required>
            <span style="color: red" ng-show="restore.username.$error.required">This is required! </span>
            </span>
          </p>

          <p>Validation Questions:<br>
            What was the name of your first pet? 
                <input type="text" name="q1" ng-model="q1" required>
                <span style="color: red" ng-show="restore.q1.$error.required">This is required! </span>
                </span>
                
<br>
            What was the name of your childhood best friend? 
            <input type="text" name="q2" ng-model="q2" required>
            <span style="color: red" ng-show="restore.q2.$error.required">This is required! </span>
            </span>
              </p>

        <p>
            <input ng-disabled="restore.$invalid" type="submit" id="restore" value="Submit">
        </p>
        </form>
</div>
